<a href="https://colab.research.google.com/github/KrishSharmila/Assesment-1/blob/main/Fraud_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#importing dependency

import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [91]:
data=pd.read_csv("/content/Fraud.csv")
data.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0.0,0.0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0.0,0.0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1.0,0.0
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1.0,0.0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0.0,0.0

In [92]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4411043 entries, 0 to 4411042
Data columns (total 11 columns):
 #   Column          Dtype
---  ------          -----
 0   step            int64
 1   type            object
 2   amount          float64
 3   nameOrig        object
 4   oldbalanceOrg   float64
 5   newbalanceOrig  float64
 6   nameDest        object
 7   oldbalanceDest  float64
 8   newbalanceDest  float64
 9   isFraud         float64
 10  isFlaggedFraud  float64
dtypes: float64(7), int64(1), object(3)
memory usage: 370.2+ MB

In [5]:
#checking the no of missing values in each cloumns
data.isnull().sum()

step              0
type              0
amount            0
nameOrig          0
oldbalanceOrg     0
newbalanceOrig    0
nameDest          0
oldbalanceDest    0
newbalanceDest    1
isFraud           1
isFlaggedFraud    1
dtype: int64

In [93]:
#Removing null values from the data

new_data=data.dropna()
print(new_data)

         step      type      amount     nameOrig  oldbalanceOrg  \
0           1   PAYMENT     9839.64  C1231006815       170136.0
1           1   PAYMENT     1864.28  C1666544295        21249.0
2           1  TRANSFER      181.00  C1305486145          181.0
3           1  CASH_OUT      181.00   C840083671          181.0
4           1   PAYMENT    11668.14  C2048537720        41554.0
...       ...       ...         ...          ...            ...
4411037   322   CASH_IN   245227.07  C1327946560          554.0
4411038   322  TRANSFER  1709454.04    C80347943        99169.0
4411039   322  CASH_OUT   368278.22  C1688455370        71726.0
4411040   322  CASH_OUT   305249.07   C296421541       146981.0
4411041   322   PAYMENT    30225.51  C1747860747            0.0

         newbalanceOrig     nameDest  oldbalanceDest  newbalanceDest  isFraud  \
0             160296.36  M1979787155            0.00            0.00      0.0
1              19384.72  M2044282225            0.00            0.00      0.0
2                  0.00   C553264065            0.00            0.00      1.0
3                  0.00    C38997010        21182.00            0.00      1.0
4              29885.86  M1230701703            0.00            0.00      0.0
...                 ...          ...             ...             ...      ...
4411037       245781.07   C349856790       215706.85            0.00      0.0
4411038            0.00  C1620632378      3457407.29      5166861.33      0.0
4411039            0.00  C1631909661       783255.42      1151533.64      0.0
4411040            0.00  C1980967303       180563.01       485812.09      0.0
4411041            0.00  M1009371154            0.00            0.00      0.0

         isFlaggedFraud
0                   0.0
1                   0.0
2                   0.0
3                   0.0
4                   0.0
...                 ...
4411037             0.0
4411038             0.0
4411039             0.0
4411040             0.0
4411041             0.0

[4411042 rows x 11 columns]

In [94]:
#distribution of legit transaction and fradulant transactions

new_data['isFraud'].value_counts()

0.0    4407423
1.0       3619
Name: isFraud, dtype: int64

In [11]:
#This dataset is highly unbalanced
# 0--> represent Normal trans
# 1--> represent fradulant trans

In [95]:
#seperating the data for analysis

legit=new_data[new_data.isFraud==0]
fraud=new_data[new_data.isFraud==1]

In [13]:
print(legit.shape)
print(fraud.shape)

(69750, 11)
(107, 11)

In [15]:
#statistical measures of the data
legit.amount.describe()

count    6.975000e+04
mean     1.634007e+05
std      3.253601e+05
min      6.300000e-01
25%      9.002173e+03
50%      4.409238e+04
75%      1.990586e+05
max      6.072832e+06
Name: amount, dtype: float64

In [16]:
fraud.amount.describe()

count    1.070000e+02
mean     5.676905e+05
std      1.595400e+06
min      1.640000e+02
25%      1.494984e+04
50%      3.052102e+04
75%      3.065701e+05
max      1.000000e+07
Name: amount, dtype: float64

In [17]:
#compare the values for both transactions

new_data.groupby('isFraud').mean()

<ipython-input-17-011816ea6f94>:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  new_data.groupby('isFraud').mean()

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFlaggedFraud
isFraud,,,,,,,
0.0,7.897118,163400.714785,904813.462673,921674.592399,855359.751623,1.185945e+06,0.0
1.0,5.411215,567690.532897,582356.414673,31526.505701,205525.190654,6.607266e+05,0.0

In [18]:
#Undersampling

In [19]:
#Build a sample datasets containing similar distribution of normal transc and the fraudant transc

In [20]:
#Number of fradulant transaction -->107

In [96]:
legit_sample=legit.sample(n=107)

In [ ]:
#cancatenating 2 dataFrames

In [97]:
new1_data=pd.concat([legit_sample,fraud],axis=0)

In [ ]:
#axis = 0  (means the data will be added row by row)
#axis = 1  (means the data will be added column by column)

In [98]:
new1_data.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
4106263,302,CASH_OUT,43211.92,C2145910277,221616.00,178404.08,C1320928926,0.00,43211.92,0.0,0.0
1464610,140,CASH_OUT,65620.17,C1169238776,0.00,0.00,C113744512,257844.95,323465.12,0.0,0.0
1342634,137,CASH_OUT,114894.28,C974716149,0.00,0.00,C101601906,1231669.67,1346563.95,0.0,0.0
2952529,230,PAYMENT,19204.37,C2081256354,375935.42,356731.05,M1297460710,0.00,0.00,0.0,0.0
2206259,186,CASH_OUT,136093.02,C434162920,0.00,0.00,C841839312,423905.88,559998.91,0.0,0.0

In [51]:
new_data.tail()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
69852,9,PAYMENT,31125.16,C1901051677,0.0,0.0,M552326592,0.0,0.0,0.0,0.0
69853,9,PAYMENT,30681.62,C849962043,0.0,0.0,M64549705,0.0,0.0,0.0,0.0
69854,9,PAYMENT,2866.47,C258151288,0.0,0.0,M1910014593,0.0,0.0,0.0,0.0
69855,9,PAYMENT,2926.88,C145336381,0.0,0.0,M1278169306,0.0,0.0,0.0,0.0
69856,9,PAYMENT,3704.30,C1539334900,0.0,0.0,M1849245575,0.0,0.0,0.0,0.0

In [105]:
new1_data['type']=new1_data['type'].replace({"CASH_IN":1,"CASH_OUT":2,"DEBIT":3,"PAYMENT":4,"TRANSFER":5})
new1_data

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
4106263,302,2,43211.92,145910277,221616.00,178404.08,C1320928926,0.00,43211.92,0.0,0.0
1464610,140,2,65620.17,169238776,0.00,0.00,C113744512,257844.95,323465.12,0.0,0.0
1342634,137,2,114894.28,74716149,0.00,0.00,C101601906,1231669.67,1346563.95,0.0,0.0
2952529,230,4,19204.37,081256354,375935.42,356731.05,M1297460710,0.00,0.00,0.0,0.0
2206259,186,2,136093.02,34162920,0.00,0.00,C841839312,423905.88,559998.91,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
4402184,321,2,526787.54,7858706,526787.54,0.00,C756639057,2422.53,563605.43,1.0,0.0
4403699,321,5,203874.62,26108639,203874.62,0.00,C1426041212,0.00,0.00,1.0,0.0
4403700,321,2,203874.62,016803098,203874.62,0.00,C1127806629,472690.19,676564.81,1.0,0.0
4410771,322,5,20986.02,154403636,20986.02,0.00,C1043093762,0.00,0.00,1.0,0.0
4410772,322,2,20986.02,42790245,20986.02,0.00,C592056924,3259785.07,3280771.09,1.0,0.0

In [106]:
new1_data.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
4106263,302,2,43211.92,145910277,221616.00,178404.08,C1320928926,0.00,43211.92,0.0,0.0
1464610,140,2,65620.17,169238776,0.00,0.00,C113744512,257844.95,323465.12,0.0,0.0
1342634,137,2,114894.28,74716149,0.00,0.00,C101601906,1231669.67,1346563.95,0.0,0.0
2952529,230,4,19204.37,081256354,375935.42,356731.05,M1297460710,0.00,0.00,0.0,0.0
2206259,186,2,136093.02,34162920,0.00,0.00,C841839312,423905.88,559998.91,0.0,0.0

In [107]:
new1_data['nameOrig']=new1_data['nameOrig'].str.replace('[^0-9]', '')

<ipython-input-107-ac66bfb3ade0>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  new1_data['nameOrig']=new1_data['nameOrig'].str.replace('[^0-9]', '')

In [108]:
new1_data.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
4106263,302,2,43211.92,145910277,221616.00,178404.08,C1320928926,0.00,43211.92,0.0,0.0
1464610,140,2,65620.17,169238776,0.00,0.00,C113744512,257844.95,323465.12,0.0,0.0
1342634,137,2,114894.28,74716149,0.00,0.00,C101601906,1231669.67,1346563.95,0.0,0.0
2952529,230,4,19204.37,081256354,375935.42,356731.05,M1297460710,0.00,0.00,0.0,0.0
2206259,186,2,136093.02,34162920,0.00,0.00,C841839312,423905.88,559998.91,0.0,0.0

In [109]:
new1_data['nameDest']=new1_data['nameDest'].str.replace('[^0-9]', '')

<ipython-input-109-d3c0c18f4422>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  new1_data['nameDest']=new1_data['nameDest'].str.replace('[^0-9]', '')

In [110]:
new1_data.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
4106263,302,2,43211.92,145910277,221616.00,178404.08,1320928926,0.00,43211.92,0.0,0.0
1464610,140,2,65620.17,169238776,0.00,0.00,113744512,257844.95,323465.12,0.0,0.0
1342634,137,2,114894.28,74716149,0.00,0.00,101601906,1231669.67,1346563.95,0.0,0.0
2952529,230,4,19204.37,081256354,375935.42,356731.05,1297460710,0.00,0.00,0.0,0.0
2206259,186,2,136093.02,34162920,0.00,0.00,841839312,423905.88,559998.91,0.0,0.0

In [111]:
new1_data['isFraud'].value_counts()

1.0    3619
0.0     107
Name: isFraud, dtype: int64

In [113]:
new1_data.groupby('isFraud').mean()

<ipython-input-113-33b0994832d5>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  new1_data.groupby('isFraud').mean()

,step,type,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFlaggedFraud
isFraud,,,,,,,,
0.0,167.542056,2.672897,1.250217e+05,8.050863e+05,841313.154299,968050.630000,1.020820e+06,0.000000
1.0,158.997237,3.492125,1.363212e+06,1.448514e+06,89962.147284,454188.808558,1.145088e+06,0.000829

In [32]:
#Split the data into training and testing data

In [114]:
x=new1_data.drop(columns='isFraud',axis=1)
y=new1_data['isFraud']

In [115]:
print(x)

         step  type     amount   nameOrig  oldbalanceOrg  newbalanceOrig  \
4106263   302     2   43211.92  145910277      221616.00       178404.08
1464610   140     2   65620.17  169238776           0.00            0.00
1342634   137     2  114894.28   74716149           0.00            0.00
2952529   230     4   19204.37  081256354      375935.42       356731.05
2206259   186     2  136093.02   34162920           0.00            0.00
...       ...   ...        ...        ...            ...             ...
4402184   321     2  526787.54    7858706      526787.54            0.00
4403699   321     5  203874.62   26108639      203874.62            0.00
4403700   321     2  203874.62  016803098      203874.62            0.00
4410771   322     5   20986.02  154403636       20986.02            0.00
4410772   322     2   20986.02   42790245       20986.02            0.00

           nameDest  oldbalanceDest  newbalanceDest  isFlaggedFraud
4106263  1320928926            0.00        43211.92             0.0
1464610   113744512       257844.95       323465.12             0.0
1342634   101601906      1231669.67      1346563.95             0.0
2952529  1297460710            0.00            0.00             0.0
2206259   841839312       423905.88       559998.91             0.0
...             ...             ...             ...             ...
4402184   756639057         2422.53       563605.43             0.0
4403699  1426041212            0.00            0.00             0.0
4403700  1127806629       472690.19       676564.81             0.0
4410771  1043093762            0.00            0.00             0.0
4410772   592056924      3259785.07      3280771.09             0.0

[3726 rows x 10 columns]

In [116]:
print(y)

4106263    0.0
1464610    0.0
1342634    0.0
2952529    0.0
2206259    0.0
          ...
4402184    1.0
4403699    1.0
4403700    1.0
4410771    1.0
4410772    1.0
Name: isFraud, Length: 3726, dtype: float64

In [117]:
#Split the data into training and testing data
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=2)

In [118]:
x_train.shape

(2980, 10)

In [119]:
x_test.shape

(746, 10)

In [120]:
x.shape

(3726, 10)

In [77]:
#Model Selection

#Logistic Regression Model

In [121]:
model=LogisticRegression()

In [122]:
#Training the logistic regression model with training data

model.fit(x_train,y_train)

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [122]:
#Model Evaluation

#Accuracy Score

In [123]:
#accuracy on training data
x_train_prediction=model.predict(x_train)
training_data_accuracy=accuracy_score(x_train_prediction,y_train)

In [124]:
print("Accuracy on Training data:",training_data_accuracy)

Accuracy on Training data: 0.97751677852349

In [125]:
#accuracy on training data

x_test_prediction=model.predict(x_test)
testing_data_accuracy=accuracy_score(x_test_prediction,y_test)

In [126]:
print("Accuracy on Testing data:",testing_data_accuracy)

Accuracy on Testing data: 0.9705093833780161

In [ ]:
#Building a Predictive System

In [134]:
Input_data=(1,5,181.0,1305486145,181.0,0.0,553264065,0.0,0.0,0)


#Change the input data to a numpy array
input_data_as_numpy_array=np.asarray(Input_data)


#reshape the numpy array as we are predicting fr one datapoint

input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = model.predict(input_data_reshaped)

print(prediction)

if(prediction[0]==0):
  print("Legit")

else:
  print("Fraud")

[1.]
Fraud

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(